<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inso">

    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".example.Login.XiaoMiSampleAct"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.inuker.bluetooth.library.BluetoothService" />

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".example.Hybrid.NativeAct" />
        <!--<activity android:name=".example.Login.XiaoMiSampleAct" />-->
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />
        <activity android:name=".example.Hybrid.RNAct" />

        <service android:name=".example.IncomingCall.IncomingCallService" />

        <!--通用activity-->
        <activity android:name="com.inso.watch.baselib.base.CommonAct" />
        <!--plug activity-->
        <activity android:name=".plugin.act.interval.IntervalRemindAct" />
        <activity android:name=".plugin.act.alarm.AlarmClockAct" />
        <activity android:name=".plugin.act.alarm.ClockOperationAct" />
        <activity android:name=".plugin.act.vip.InComingPhoneAlertAct" />
        <activity android:name=".plugin.act.city.WorldTimeAct" />
        <activity android:name=".plugin.act.city.CitySelectAct" />
        <activity android:name=".plugin.act.datasheet.DataSheetAct" />
        <activity android:name=".plugin.act.mainpagelogic.PluginMainAct">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".plugin.act.more.MoreAct" />
        <activity android:name=".plugin.act.more.InstructionAct" />
        <activity android:name=".plugin.act.more.DeviceInfoAct" />
        <activity android:name=".plugin.act.more.adjust.AdjustMainAct" />
        <activity android:name=".plugin.act.more.adjust.NewAdjustStepFirstAct" />
        <activity android:name=".plugin.act.more.adjust.NewAdjustStepSecAct" />
        <activity android:name=".plugin.act.more.adjust.NewAdjustTimeFirstAct" />
        <activity android:name=".plugin.act.more.adjust.NewAdjustTimeSecAct" />
        <activity android:name=".plugin.act.more.adjust.NewAdjustTimeThirdAct" />
        <activity android:name=".plugin.act.more.order.FunOrderAct" />
        <activity android:name=".plugin.act.more.ScreenOffAct" />
    </application>

</manifest>
